@media (max-width: 824px) {
    /* h1 {
        font-size: 2rem; -- could add taller banner image to allow for two lines of text 
    } */
    nav a {
        font-size: 1rem;
    }
    .background, header, footer, body {
        min-width: 350px;
    }

    /* -------- HOME PAGE ---------- */
    .wrapper {
        display: block;
    }
    p {
        margin: 10px;
    }
    #skelleftea, #river {
        margin: 10px auto;
    }

    /* -------- OUTDOOR PAGE ---------- */

    #outdoor {
        margin: 0 auto;
        display: block;
    }
    .fishing, .skiing, .hiking {
        display: grid;
    }
    #skip {
        order: 2;
    }
 
    #outdoor p {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
/* 
@media (min-width: 400px) and (max-width: 824px) { /* in betweeen font size or picture for banner

} */