@media (max-width: 30em) {
    h1 {
        font-size: 2rem;
    }
    nav a {
        font-size: 1rem;
    }
    .background, header, footer, body {
        min-width: 350px;
    }

    /* -------- HOME PAGE ---------- */
    .wrapper {
        display: block;
    }
    p {
        margin: 10px;
    }
    #skelleftea, #river {
        margin: 10px auto;
    }

    /* -------- OUTDOOR PAGE ---------- */

    #outdoor {
        margin: 0 auto;
        display: block;
    }
 
    #outdoor p {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}