body {
    display: grid;
    grid-template: 150px auto 130px / 1fr;
    justify-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}

header {
    width: 100%;
    position: relative;
    grid-column: 1 / 3;
    background: rgba(206, 173, 255, 0.521);
}

h1 {
    text-align: center;
    margin-top: 25px;
}

nav {
    position: absolute;
    height: 50px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background: rgb(67, 42, 79);
    padding: .5em;
    justify-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    padding: .5em;
    font-size: 1.1em;
    padding: 1.3em;
}

nav a:hover {
    font-weight: 1000;
    font-size: 1.3em;
}

nav ul {
    list-style-type: none;
    display: flex;
    text-align: center;
}

nav ul li {
    flex: 1 1 100%;
}

main {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 3fr 2fr;
    padding: 1em;
    max-width: 1200px;
}

.card {
    border: 4px double #1B2432;
    border-radius: 5px;
    background: rgba(248, 248, 231, 0.672);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.aboutme p {
    margin-top: 4rem;
    margin-bottom: 9rem;
}

hr {
    width: 75%;
    color: black;
}

.card p {
    padding: 2rem;
    line-height: 1.5em;
    font-size: 1.2em;
}

main ul {
    list-style-type: none;
}

main ul li {
    padding: 1rem;
    color: #1b2432;
}

main ul a {
    color: #1b2432;
    font-size: 1.2em;
}

main a:hover {
    color: blue;
}

h2 {
    padding: 1rem;
    text-align: center;
    background: rgba(206, 173, 255, 0.521);
    margin: 0;
}

h3 {
    margin-top: 60px;
    text-align: center;
    font-size: 1.2em;
}


.aboutme img {
    margin: 2rem;
    float: right;
    border: 1px solid black;
    box-shadow: 5px 5px 10px black;
}

.sweden img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

footer {
    width: 100%;
    grid-column: 1 / 3;
    text-align: center;
    background: rgb(67, 42, 79);
    color: #fff;
    padding: 20px;
}